/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.main-nav{
    display: flex;
    justify-content: center;
    height: 126px;
}

.logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logo h2{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.logo h3{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}

.nav{
    display: inline-flex;
    font-size: 15px;
    font-weight: 400;
    margin-left: 50px;
    align-items: center;
}
.nav li{
    padding-right: 20px;
}

.login{
    align-items: center;
    display: flex;
    color: rgb(87, 187, 191);
}

.login span{
    padding-left: 10px;
}

.login svg path{
    fill: rgb(87, 187, 191);
}
#hero{
    background-image: url(/images/bg.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero h4{
    font-size: 17px;
    font-weight: bold;
}

#hero h1{
    font-size: 110px;
    font-weight: bold;
    padding: 20px;
}

#hero h5{
    font-size: 20px;
    padding-bottom: 30px;
}

.button{
    background-color: black;
    color: white;
    padding: 13px 30px;
    border: 2px black solid;
}

.button:hover{
    border: 2px black solid;
    background-color: transparent;
    color: black;
}

#about{
    display: flex;
}

.about-image{
    background-image: url(images/about.jpg);
    height: 600px;
    width: 50%;
    background-position: center top;
    background-repeat: no-repeat;
}

.about-main{
    width: 50%;
    padding: 40px;
    padding-left: 180px;
    padding-top: 68px;
    
}

#about h2{
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 25px;
}

#about p{
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: 2px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.help{
    background-image: url(/images/help.jpg);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.line{
    border-bottom: 3px black solid;
    width: 30px;
    padding-top: 50px;
}
.help-title{
    font-size: 43px;
    font-weight: bold;
    margin-bottom: 60px;
    padding-top: 20px;
}

.help-boxes{
    display: flex;
    justify-content: space-between;
    align-items: stretch;

}
.help-boxes:first-child{
    margin-left: 25px;
}

/* .help-boxes:nth-child(2){
    margin: 0px 25px;
} */
.box{
    border: 5px black solid;
    padding: 32px 25px;
    width: 25%;
    text-align: center;
}
.box h3{
    font-size: 20px;
    font-weight: bold;
}
.box p{
    font-size: 15px;
}
.box-p{
    margin: 12px 0;
}
.divider{
    border-top: 2px black solid;
    margin: 20px 0px;
}
.book-button{
    background-color:rgb(87, 187, 191);
    font-size: 16px;
    padding: 8px 30px;
    border: none;
}
.book-button:hover{
    background-color:rgb(121, 186, 189); ;
}